@{
    ViewBag.Title = "展示结果";
}
<h2>展示结果</h2>
<div>
    用户名:@TempData["userName"]
</div>
<div>
    密码:@TempData["password"]
</div>
<div>
    性别:@TempData["sex"]
</div>
<div>
    年龄:@TempData["age"]
</div>
<div>
    身份证:@TempData["identityID"]
</div>
<div>
    电话:@TempData["telephone"]
</div>
<div>
    邮箱:@TempData["email"]
</div>
<div>
    省份:@TempData["province"]
</div>
<div>
    城市:@TempData["city"]
</div>
<div>
    介绍:@TempData["introduction"]
</div>
<div>
    <img src="@TempData["img"]"/>
</div>

